:root {
    --first: #163459;
    --second: #FFF;
}

.page-wrapper {
    background-color: var(--first);
}

.navbar {
    color: var(--second);
    list-style-type: none;
    text-decoration: none;
}

.nav-links {
    cursor: pointer;
    font-size: 20px;
    margin-right: 4rem;
}
