:root {
    --first: #163459;
    --second: #FFF;
    --third: #79adbb;
    --fourth: #546884;
}

body {
    font-family: 'Raleway', sans-serif;
}

.page-wrapper {
    background-color: var(--first);
}

.home {
    margin: 2rem;
}

.navbar {
    color: var(--second);
    list-style-type: none;
    text-decoration: none;
    margin-top: 4rem;
}

.nav {
    position: fixed;
}

.nav-links {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-right: 4rem;
}

.nav-links:hover {
    color: var(--third);
}

.landing {
    margin-top: 6rem;
}

.title {
    margin-top: 10%;
    margin-right: 3%;
    color: var(--third);
}

.greeting {
    color: var(--second);
    margin-bottom: unset;
    font-size: 56px;
}

.name {
    color: var(--third);
    margin-top: unset;
    font-size: 56px;
    margin-bottom: 3%;
}

.description{
    color: var(--second);
    font-weight: 300;
    margin-top: unset;
}

.highlight {
    color: var(--third);
}

.me {
    margin-top: 5%;
}

.resume-btn {
    background-color: var(--third);
    color: var(--second);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 17px;
    border: unset;
    width: 11rem;
    height: 3rem;
    margin-right: 8rem;
    margin-top: 1rem;
}

.resume-btn:hover {
    cursor: pointer;
    background-color: var(--second);
    color: var(--third);
}

.about {
    margin-top: 8rem;
}

.about-me {
    color: var(--second);
    font-size: 20px;
}

.cat-img {
    position: relative;
    bottom: 9rem;
    left: 9rem;
}

.box {
    background-color: var(--fourth);
    color: var(--second);
}

.special-spacing {
    margin-top: 1.5rem;
}

.underline {
    border-bottom: 1px solid var(--second);
    padding-bottom: 5px;
    width: 15rem;
}

.tech-skills {
    margin-top: 6rem;
}

.sub-title {
    font-weight: 400;
    font-size: 28px;
}

.services {
    margin-top: 20rem;
}

.services-titles {
    font-weight: 400;
    font-size: 24px;
    margin-top: 2rem;
}

.web-dev{
    margin-right: 3rem;
}

.web-dev-icon {
    height: 110px;
    width: 152px;
}

.web-design-icon {
    height: 95px;
    width: 147px;
    margin-top: 1rem;
}

.bean-cat {
    position: relative;
    right: 13rem;
    bottom: 8rem;
}

.smaller-col {
    width: 30%;
}

.title-color {
    color: var(--third);
}